.top-section {
    background: linear-gradient(to right, #6933ff, #24001a); 
    
  }
 
  .middle-section {
    background: linear-gradient(to right, #24001a, #000000); 
  }
  
 
  .bottom-section {
    background: linear-gradient(to right, #000000, #6933ff);
  }

  .fixed-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 65px;
  }

  .rock-shop-head {
    text-align: left;
    margin-top: 3%;
    display: inline-block;
    margin-right: auto;
    margin-left: -15%;
    padding: 20px;
    
  }

  .typewriter-text {
    color: #6933ff;
  }
  .top-section {
    background: linear-gradient(to right, #6933ff, #24001a); 
    height: 100vh;
  }
 
  .middle-section {
    background: linear-gradient(to right, #24001a, #000000); 
    height: 100vh;
    width: auto;
  }
  
 
  .bottom-section {
    background: linear-gradient(to right, #000000, #6933ff);
    height: 100vh;
    
  }

  .landing-text {
    color: rgb(192, 192, 192)
  }