

.background-image-home {
    background-image: url('../imgs/bgimg.png');
    background-position: left;
    background-repeat: no-repeat;
    /* opacity: 70%; */
    width: auto;
    background-size:contain; 
    
}


.top-section {
    background: linear-gradient(to right, #6933ff, #24001a); 
    
  }
 
  .middle-section {
    background: linear-gradient(to right, #24001a, #000000); 
  }
  
 
  .bottom-section {
    background: linear-gradient(to right, #000000, #6933ff);
  }

  .landing-text {
    color: rgb(192, 192, 192)
  }

  .typewriter-text {
    color: #6933ff;
  }
  